<h2><%= @project.title %></h2>
<h3>Total hours worked: <%= @project.total_hours %></h3>
<a href="/projects/<%= @project.id %>/edit_project">Edit Project Info</a>

<h3>Current Volunteers Assigned to "<%= @project.title %>"</h3>
<% if @current_volunteers.any? %>
  <ul>
    <% @current_volunteers.each do |volunteer| %>
      <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a>
        <form class="" action="/projects/<%= @project.id %>/unassign/<%= volunteer.id %>" method="post">
          <input name="_method" type="hidden" value="patch">
          <button type="submit" name="button">Unassign</button>
        </form>
        <form class="" action="/projects/<%= @project.id %>/<%= volunteer.id %>/hours" method="post">
          <input name="_method" type="hidden" value="patch">
          <label for="hours">Log Hours</label>
          <input type="number" name="hours" class="form-control">
          <button type="submit" name="button">Log Hours</button>
        </form>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no volunteers assigned to this project.</p>
<% end %>

<h3>Available volunteers:</h3>
<% if @volunteers.any? %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <% if volunteer.project_id == 0 %>
      <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a>
        <form class="" action="/projects/<%= @project.id %>/assign/<%= volunteer.id %>" method="post">
          <input name="_method" type="hidden" value="patch">
          <button type="submit" name="button">Assign to Project</button>
        </form>
      </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no volunteers available.</p>
<% end %>

<a href="/">Return home</a>
<form class="" action="/projects/<%= @project.id %>/delete" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" name="button">Delete Project</button>
</form>
